.btn__container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    button {
        height:2rem;
        width: 5rem;
        font-family: $h1font;
        background-color: $navBarcolor;
        color: $titleH1;
        border-radius: 3px;
        &:hover{
            background-color: $bgc;
        }
    }
}