.movie__container {
    display: grid;
    grid-template-areas: ". . .";
    gap: 1.5rem;
    place-content: center;
}
.movie {
    background-color: $moviebgc;
    border-radius:5px;
    box-shadow: 3px 3px 5px #000010;
    overflow: hidden;
    width: 18rem;
    margin: 1rem;
    img{
        max-width: 100%;
    }
        .movie__info {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            .h3 {
                margin:0;
            }
        }

        .over__desc {
            padding: 1rem;
        }
           //img zoom 
        .zoom__img {
          overflow: hidden;
          display: block;
        .card-img-transition {
            transition: all 0.5s ease-in;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .btn__container {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        button {
            height:2rem;
            width: 6rem;
        }
    }
}