.details__wrapper {
    padding:1rem;
    .details__header {
        padding: 1rem 0rem;
    }
    .details__card {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .card__actor__container.row,
    .card__similar__container.row
     {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap:1.5rem;
        .thumbnail__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


