//font settings 
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap'); // title font
$h1font:'Martel Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
$generalFont:'Kanit', sans-serif;
// colors settings 
$navBarcolor:#070d2d;
$titleH1:#a7a9d2;
$btnSearch:#a7a9d2;
$gencolor:#fff;
$bgc:#252443;
$moviebgc:#070d2d;
$sb-bgc:#070d2d;
$btn-bgc:#546ee5;

* {
    box-sizing: border-box;
    font-family: $generalFont;
    color: $gencolor;
    margin: 0;
    padding: 0;
}
body {
    background-color: $bgc;
    h1,h2,h3,h4 {
        text-transform: capitalize;
    }
    a {
        color:#FEFEFE;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    input,textarea,.form_btn_add {
        color: $moviebgc;
    }
}

