//font settings 
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap'); // title font
$h1font:'Martel Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
$generalFont:'Kanit', sans-serif;
// colors settings 
$navBarcolor:#302d2d;
$titleH1:#a7a9d2;
$btnSearch:#a7a9d2;
$gencolor:#fff;
$bgc:#3d3b3b;
$moviebgc:#464343;
* {
    box-sizing: border-box;
    font-family: $generalFont;
    color: $gencolor;
}
body {
     margin: 0;
    background-color: $bgc;

    a {
        color:#FEFEFE;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    input,textarea,.form_btn_add {
        color: $moviebgc;
    }
}

